body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  background: #ff000033;
  letter-spacing: 1px;
}

h1 {
  font-size: 4vw;
  flex: 0.3;
  text-shadow: 0px 6px 8px #00000091;
}

#search-title {
  font-size: 4vw;
}

.search-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-input {
  width: 26vw;
  height: 6vh;
  background: #ff000026;
  border: solid 1px #ff00006b;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 3px 10px 0px #0000006b;
}

#search-input::placeholder {
  font-size: 1.3vw;
  color: rgba(0, 0, 0, 0.519);
  text-align: center;
  letter-spacing: 1px;
}

#search-input:focus {
  font-size: 1.5vw;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
  box-shadow: 0px 3px 15px 0px #000000a6;
}

#search-btn {
  background: #ff000026;
  border: solid 1px #ff00006b;
  width: 12vw;
  height: 5vh;
  border-radius: 20px;
  margin-top: 3vh;
  font-size: 1.5vw;
  cursor: pointer;
  box-shadow: 0px 3px 10px 0px #0000006b;
  letter-spacing: 1px;
  font-weight: 600;
}

#search-btn:hover {
  width: 13vw;
  height: 5.5vh;
  font-size: 1.8vw;
}

h2 {
  font-size: 3vw;
  text-shadow: 0px 6px 8px #00000091;
}

li {
  font-size: 1.5vw;
}

h3 {
  font-size: 2vw;
  text-shadow: 0px 3px 8px #00000091;
}

p {
  width: 76vw;
  text-align: center;
  font-size: 1.5vw;
}
